<nav class="navbar navbar-expand-lg bg-silver">
    <div class="container">
        <a class="navbar-brand text-black-50" href="#">Sheba SobKhane</a>

        <div class="collapse navbar-collapse" id="navbar-primary">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link  text-black-50" href="#"><i class="nc-icon nc-single-02  text-black-50" aria-hidden="true"></i>&nbsp;Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  text-black-50" href="#"><i class="nc-icon nc-settings-gear-65  text-black-50" aria-hidden="true"></i>&nbsp;Settings</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/daniel-olahh.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Here We Make Our Own Future</h1>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <h3>Didn't Join Yet!!</h3>
            <br />
            <button type="button" class="btn btn-outline-neutral btn-round">register</button>
        </div>
    </div>
</div>


<div class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="title text-primary">Our Work</h2>
                <h5 class="description">Our purpose mainly is to serve as a mediator between the customer and the service providers like electrician's etc. This can be used as a online Platform for not only providing services to the customers but also providing opputunities
                    for people like electrician to get work more.
                </h5>
            </div>
        </div>
    </div>
</div>


<div class="section section-dark text-center">
    <div class="container">
        <h2 class="title">Let's talk about us</h2>
        <div class="row">
            <div class="col">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/faces/Nobel.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Nurul Islam Nobel</h4>
                                <h6 class="card-category">Associate Software Engineer</h6>
                                <h6 class="card-category">Orbitax</h6>
                            </div>
                        </a>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/faces/JawadAmir.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Jawad Amir</h4>
                                <h6 class="card-category">Associate Software Engineer</h6>
                                <h6 class="card-category">Selise</h6>
                            </div>
                        </a>

                    </div>
                    <div class="card-footer text-center">
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="credits ml-auto">
                <span class="copyright">
                  © {{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by Nobel And Jawad
              </span>
            </div>
        </div>
    </div>
</footer>
